body {
  display: flex;
}

#car-container {
  width: 50%;
  border: 1px solid black;
}

#blocks-container {
  width: auto;
  border: 1px solid black;
}

#blocklyDiv {
  width: 600px;
  height: 480px;
}